.create-playlist{
    background: linear-gradient(#6e6e6e6a,#00000096);
    width: 100%;
    min-height: 50vh;
    padding: 10px;
    display: flex;
    align-content: end;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    padding: 25px;
    justify-content: space-around;
    overflow: hidden;
}
.create-playlist .save{
    position: absolute;
    top:15px;
    right: 60px;
    padding: 15px;
    background-color: var(--main-color-dark);
}

@media(max-width:1300px){
    .create-playlist{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
.create-playlist .img-wrapper{
    max-width: 300px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #6e6e6e6a;
}
.create-playlist .img-wrapper img{
    max-width: 100%;
}

.create-playlist input[name="playlistName"]{
    font-size: 4.5em;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    font-weight: 700;
}

.song-box-wrapper{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
